<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styles/common.css" />
		<link rel="stylesheet" href="styles/list.css" />
		<title>View All</title>
	</head>
	<body>
		<main>
			<h1>Green <span style="color: green">Earth</span></h1>

			<h2>Contact List</h2>

			<div class="table">
				<div class="table-heading">
					<span>Name</span>
					<span>Contact Number</span>
					<span>Country</span>
					<span>Gender</span>
				</div>

				<div class="table-row">
					<span>Elon Mask</span>
					<span>+1111111111</span>
					<span>United States</span>
					<span>Male</span>
				</div>
				<div class="table-row">
					<span>Elon Mask</span>
					<span>+1111111111</span>
					<span>United States</span>
					<span>Male</span>
				</div>
				<div class="table-row">
					<span>Elon Mask</span>
					<span>+1111111111</span>
					<span>United States</span>
					<span>Male</span>
				</div>
				<div class="table-row">
					<span>Elon Mask</span>
					<span>+1111111111</span>
					<span>United States</span>
					<span>Male</span>
				</div>
			</div>
		</main>
	</body>
</html>
